<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inProduction</key>
	<false/>
	<key>developmentAppKey</key>
	<string>PBJUc1sXQTaAk1YwnWzlKQ</string>
	<key>developmentAppSecret</key>
	<string>zbUfOf5iS6C7nhuYfhg-MQ</string>
	<key>productionAppKey</key>
	<string>Hag4GIOjRO2gcv4n9fDcoQ</string>
	<key>productionAppSecret</key>
	<string>aYcPXJHXSomIn8Y9xg9aHg</string>
</dict>
</plist>
