<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>jiveId</key>
		<string>testUser1</string>
		<key>pbxs</key>
		<array>
			<dict>
				<key>name</key>
				<string>Test User 1 v4 PBX</string>
				<key>jrn</key>
				<string>jrn:pbx::jive:01471162-f384-24f5-9351-000100420001:pbx~default</string>
				<key>v5</key>
				<false/>
				<key>lines</key>
				<array>
					<dict>
						<key>name</key>
						<string>Test User1</string>
						<key>jrn</key>
						<string>jrn:line::jive:01471162-f384-24f5-9351-000100420001:014a5955-b837-e8d0-ab9a-000100620001</string>
						<key>extension</key>
						<string>1000</string>
						<key>active</key>
						<false/>
						<key>mailboxJrn</key>
						<string>jrn:voicemail::jive:01471162-f384-24f5-9351-000100420001:vmbox/014a5955-b837-e8d1-ab9a-000100620001</string>
						<key>mailboxUrl</key>
						<string>https://api.jive.com/voicemail/v1/mailbox/id/014a5955-b837-e8d1-ab9a-000100620001</string>
						<key>lineConfiguration</key>
						<dict>
							<key>display</key>
							<string>Test User 1 Line 1</string>
							<key>outboundProxy</key>
							<string>jive.jive.rtcfront.net</string>
							<key>registrationHost</key>
							<string>reg.jiveip.net</string>
							<key>sipPassword</key>
							<string>test password</string>
							<key>sipUsername</key>
							<string>test user</string>
						</dict>
					</dict>
				</array>
				<key>contacts</key>
				<array>
					<dict>
						<key>name</key>
						<string>John Smith</string>
						<key>jrn</key>
						<string>jrn:line::jive:01471162-f384-24f5-9351-000100420001:014a5955-b837-e8d0-ab9a-000100620002</string>
						<key>extension</key>
						<string>1001</string>
						<key>favorite</key>
						<false/>
						<key>jiveUserId</key>
						<string>jsmith</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Jane Doe</string>
						<key>jrn</key>
						<string>jrn:line::jive:01471162-f384-24f5-9351-000100420001:014a5955-b837-e8d0-ab9a-000100620003</string>
						<key>extension</key>
						<string>1002</string>
						<key>favorite</key>
						<false/>
						<key>jiveUserId</key>
						<string>jdoe</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Trisha Galloway</string>
						<key>jrn</key>
						<string>jrn:line::jive:01471162-f384-24f5-9351-000100420001:014a5955-b837-e8d0-ab9a-000100620004</string>
						<key>extension</key>
						<string>1003</string>
						<key>favorite</key>
						<false/>
						<key>jiveUserId</key>
						<string>tgalloway</string>
					</dict>
				</array>
				<key>dids</key>
				<array>
					<dict>
						<key>jrn</key>
						<string>jrn:pbx::jive:01471162-f384-24f5-9351-000100420001:did:014885d6-1526-8b77-a111-000100420001</string>
						<key>number</key>
						<string>+18011212121</string>
						<key>makeCall</key>
						<false/>
						<key>receiveCall</key>
						<false/>
						<key>sendSMS</key>
						<true/>
						<key>receiveSMS</key>
						<true/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>jiveId</key>
		<string>testUser2</string>
		<key>pbxs</key>
		<array>
			<dict>
				<key>name</key>
				<string>Test User 2 PBX</string>
				<key>jrn</key>
				<string>jrn:pbx::jive:01471162-f384-24f5-9351-000100420002:pbx~default</string>
				<key>v5</key>
				<true/>
				<key>lines</key>
				<array>
					<dict>
						<key>jrn</key>
						<string>jrn:line::jive:01471162-f384-24f5-9351-000100420002:014a5955-b837-e8d0-ab9a-000100620001</string>
						<key>name</key>
						<string>Test User2</string>
						<key>extension</key>
						<string>1000</string>
						<key>active</key>
						<false/>
						<key>mailboxJrn</key>
						<string>jrn:voicemail::jive:01471162-f384-24f5-9351-000100420001:vmbox/014a5955-b837-e8d1-ab9a-000100620001</string>
						<key>mailboxUrl</key>
						<string>https://api.jive.com/voicemail/v1/mailbox/id/014a5955-b837-e8d1-ab9a-000100620001</string>
						<key>lineConfiguration</key>
						<dict>
							<key>display</key>
							<string>Test User 2 Line 1</string>
							<key>outboundProxy</key>
							<string>jive.jive.rtcfront.net</string>
							<key>registrationHost</key>
							<string>reg.jiveip.net</string>
							<key>sipPassword</key>
							<string>test password</string>
							<key>sipUsername</key>
							<string>test user</string>
						</dict>
					</dict>
				</array>
				<key>contacts</key>
				<array>
					<dict>
						<key>name</key>
						<string>John Smith</string>
						<key>jrn</key>
						<string>jrn:line::jive:01471162-f384-24f5-9351-000100420002:014a5955-b837-e8d0-ab9a-000100620002</string>
						<key>extension</key>
						<string>1001</string>
						<key>favorite</key>
						<false/>
						<key>jiveUserId</key>
						<string>jsmith</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Jane Doe</string>
						<key>jrn</key>
						<string>jrn:line::jive:01471162-f384-24f5-9351-000100420002:014a5955-b837-e8d0-ab9a-000100620003</string>
						<key>extension</key>
						<string>1001</string>
						<key>favorite</key>
						<false/>
						<key>jiveUserId</key>
						<string>jdoe</string>
					</dict>
					<dict>
						<key>name</key>
						<string></string>
						<key>jrn</key>
						<string>jrn:line::jive:01471162-f384-24f5-9351-000100420002:014a5955-b837-e8d0-ab9a-000100620004</string>
						<key>extension</key>
						<string>1001</string>
						<key>favorite</key>
						<false/>
						<key>jiveUserId</key>
						<string>jsmith</string>
					</dict>
				</array>
				<key>dids</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>jiveId</key>
		<string>testUser3</string>
		<key>pbxs</key>
		<array>
			<dict>
				<key>name</key>
				<string>Test User3 PBX</string>
				<key>jrn</key>
				<string>jrn:pbx::jive:01471162-f384-24f5-9351-000100420003:pbx~default</string>
				<key>v5</key>
				<true/>
				<key>lines</key>
				<array/>
				<key>contacts</key>
				<array/>
				<key>dids</key>
				<array>
					<dict>
						<key>jrn</key>
						<string>jrn:pbx::jive:01471162-f384-24f5-9351-000100420003:did:014885d6-1526-8b77-a111-000100420031</string>
						<key>number</key>
						<string>+18012221111</string>
						<key>makeCall</key>
						<false/>
						<key>reciveCall</key>
						<false/>
						<key>sendSMS</key>
						<true/>
						<key>reciveSMS</key>
						<true/>
						<key>userDefault</key>
						<true/>
					</dict>
					<dict>
						<key>jrn</key>
						<string>jrn:pbx::jive:01471162-f384-24f5-9351-000100420003:did:014885d6-1526-8b77-a111-000100420031</string>
						<key>number</key>
						<string>+18012223333</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>jrn</key>
				<string>jrn:pbx::jive:01471162-f384-24f5-9351-000100420004:pbx~default</string>
				<key>v5</key>
				<string></string>
				<key>lines</key>
				<string></string>
				<key>contacts</key>
				<string></string>
				<key>dids</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>jiveId</key>
		<string>testUser4</string>
		<key>pbxs</key>
		<array>
			<dict>
				<key>name</key>
				<string>Test User4 PBX</string>
				<key>jrn</key>
				<string>jrn:pbx::jive:01471162-f384-24f5-9351-000100420005:pbx~default</string>
				<key>v5</key>
				<true/>
				<key>lines</key>
				<array/>
				<key>contacts</key>
				<array/>
				<key>dids</key>
				<array>
					<dict>
						<key>jrn</key>
						<string>jrn:pbx::jive:01471162-f384-24f5-9351-000100420005:did:014885d6-1526-8b77-a111-000100420051</string>
						<key>number</key>
						<string>+18012223333</string>
						<key>makeCall</key>
						<false/>
						<key>receiveCall</key>
						<false/>
						<key>sendSMS</key>
						<false/>
						<key>receiveSMS</key>
						<false/>
						<key>userDefault</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>jiveId</key>
		<string>testUser5</string>
		<key>pbxs</key>
		<array>
			<dict>
				<key>name</key>
				<string>Test User5 PBX</string>
				<key>jrn</key>
				<string>jrn:pbx::jive:01471162-f384-24f5-9351-000100420055:pbx~default</string>
				<key>v5</key>
				<true/>
				<key>lines</key>
				<array/>
				<key>contacts</key>
				<array/>
				<key>dids</key>
				<array>
					<dict>
						<key>jrn</key>
						<string>jrn:pbx::jive:01471162-f384-24f5-9351-000100420055:did:014885d6-1526-8b77-a111-000100420551</string>
						<key>number</key>
						<string>+18012225555</string>
						<key>makeCall</key>
						<false/>
						<key>receiveCall</key>
						<false/>
						<key>sendSMS</key>
						<true/>
						<key>receiveSMS</key>
						<true/>
						<key>userDefault</key>
						<true/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
